.container__details {
  padding: 23px 0;
}
.character__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px;
}
.character__image {
  border-radius: 50%;
  width: 300px;
  margin-bottom: 16px;
}

.character__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #081f32;
  margin-bottom: 48px;
}

.character__subtitle {
  margin-bottom: 48px;
}
.character__list {
  display: flex;
  flex-direction: column;
  min-width: 416px;
}
.character__item {
  padding: 9px 16px 12px 9px;
  border-bottom: 1px solid;
  /* min-height: 100%; */
}

.button {
  margin-bottom: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
